:host {
    --red-color: #B03039;
    background-color: #000;
    color: white;
    --width: 1600px;
    --title-height: 200px;
    --header-height: 20px;
    --points-width: 60px;
    font-weight: bold;
}

.title {
    position: absolute;
    left: calc(50% - var(--width) / 2);
    width: var(--width);
    height: var(--title-height);
    font-size: 40px;
    display: flex;
    align-items: center;
}

.single-last-map-name[data-single-last-map-name^="mp_rr_canyonlands"]:after   { content: "Kings Canyon"; }
.single-last-map-name[data-single-last-map-name^="mp_rr_desertlands"]:after   { content: "World's Edge"; }
.single-last-map-name[data-single-last-map-name^="mp_rr_olympus"]:after       { content: "Olympus"; }
.single-last-map-name[data-single-last-map-name^="mp_rr_tropic_island"]:after { content: "Storm Point"; }
.single-last-map-name[data-single-last-map-name^="mp_rr_divided_moon"]:after  { content: "Broken Moon"; }
.single-last-map-name[data-single-last-map-name^="mp_rr_district"]:after      { content: "E-District"; }

.gamenumber, .mapname {
    padding-left: 60px;
}

div {
    box-sizing: border-box;
}

.teams {
    --teams-width: 1800px;
    --teams-top: 300px;

    position: absolute;
    left: calc(50% - var(--teams-width) / 2);
    top: var(--teams-top);
    width: var(--teams-width);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    overflow: clip;
}

.team:not([data-team-single-last-placement]) {
    opacity: 0.0;
}

.header, .teamdata, .teamplayer {
    display: grid;
    grid-template-columns: 40px minmax(0, 1fr) 40px 70px;
    column-gap: 2px;
}

.header {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

.teamdata {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.teamdata > div {
    background-color: white;
    color: black;
}

.team-single-last-placement:not(.dataset) {
    background-color: var(--red-color);
    color: white;
    text-align: center;
}

.team-name {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    text-wrap: nowrap;
    overflow: clip;
}

.team-single-last-kill-points, .team-single-last-damagedealt {
    text-align: center;
}

.teamplayer {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 2px;
    background-color: #333;
}

.teamplayer-name {
    padding-left: 10px;
    overflow: clip;
}

.teamplayer-kills, .teamplayer-damagedealt {
    text-align: center;
}

/* 画像 */
.teamplayer-legend[data-teamplayer-legend] {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

[data-teamplayer-legend="Alter"]      ,[data-teamplayer-legend="异化"]         { background-image: url('legends/alter.png'); }
[data-teamplayer-legend="Ash"]        ,[data-teamplayer-legend="艾许"]         { background-image: url('legends/ash.png'); }
[data-teamplayer-legend="Ballistic"]  ,[data-teamplayer-legend="弹道"]         { background-image: url('legends/ballistic.png'); }
[data-teamplayer-legend="Bangalore"]  ,[data-teamplayer-legend="班加罗尔"]     { background-image: url('legends/bangalore.png'); }
[data-teamplayer-legend="Bloodhound"] ,[data-teamplayer-legend="寻血猎犬"]     { background-image: url('legends/bloodhound.png'); }
[data-teamplayer-legend="Catalyst"]   ,[data-teamplayer-legend="催化剂"]       { background-image: url('legends/catalyst.png'); }
[data-teamplayer-legend="Caustic"]    ,[data-teamplayer-legend="侵蚀"]         { background-image: url('legends/caustic.png'); }
[data-teamplayer-legend="Conduit"]    ,[data-teamplayer-legend="导能"]         { background-image: url('legends/conduit.png'); }
[data-teamplayer-legend="Crypto"]     ,[data-teamplayer-legend="密客"]         { background-image: url('legends/crypto.png'); }
[data-teamplayer-legend="Fuse"]       ,[data-teamplayer-legend="暴雷"]         { background-image: url('legends/fuse.png'); }
[data-teamplayer-legend="Gibraltar"]  ,[data-teamplayer-legend="直布罗陀"]     { background-image: url('legends/gibraltar.png'); }
[data-teamplayer-legend="Horizon"]    ,[data-teamplayer-legend="地平线"]       { background-image: url('legends/horizon.png'); }
[data-teamplayer-legend="Lifeline"]   ,[data-teamplayer-legend="命脉"]         { background-image: url('legends/lifeline.png'); }
[data-teamplayer-legend="Loba"]       ,[data-teamplayer-legend="罗芭"]         { background-image: url('legends/loba.png'); }
[data-teamplayer-legend="Mad Maggie"] ,[data-teamplayer-legend="疯玛吉"]       { background-image: url('legends/madmaggie.png'); }
[data-teamplayer-legend="Mirage"]     ,[data-teamplayer-legend="幻象"]         { background-image: url('legends/mirage.png'); }
[data-teamplayer-legend="Newcastle"]  ,[data-teamplayer-legend="纽卡斯尔"]     { background-image: url('legends/newcastle.png'); }
[data-teamplayer-legend="Octane"]     ,[data-teamplayer-legend="动力小子"]     { background-image: url('legends/octane.png'); }
[data-teamplayer-legend="Pathfinder"] ,[data-teamplayer-legend="探路者"]       { background-image: url('legends/pathfinder.png'); }
[data-teamplayer-legend="Rampart"]    ,[data-teamplayer-legend="兰伯特"]       { background-image: url('legends/rampart.png'); }
[data-teamplayer-legend="Revenant"]   ,[data-teamplayer-legend="亡灵"]         { background-image: url('legends/revenant.png'); }
[data-teamplayer-legend="Seer"]       ,[data-teamplayer-legend="希尔"]         { background-image: url('legends/seer.png'); }
[data-teamplayer-legend="Sparrow"]    ,[data-teamplayer-legend="麻雀"]         { background-image: url('legends/sparrow.png'); }
[data-teamplayer-legend="Valkyrie"]   ,[data-teamplayer-legend="瓦尔基里"]     { background-image: url('legends/valkyrie.png'); }
[data-teamplayer-legend="Vantage"]    ,[data-teamplayer-legend="万蒂奇"]       { background-image: url('legends/vantage.png'); }
[data-teamplayer-legend="Wattson"]    ,[data-teamplayer-legend="沃特森"]       { background-image: url('legends/wattson.png'); }
[data-teamplayer-legend="Wraith"]     ,[data-teamplayer-legend="恶灵"]         { background-image: url('legends/wraith.png'); }
